.mainheader
{
	width: 100%;
	height: 30px;
	color: green;
	background-color: yellow;
	font-size: medium;
}

.button
{
	width: 130px;
	height: 30px;
	border: 2px solid white;
	color: #0000FF;
	font-weight: bold;
	background-color: silver;
}
marquee
{
	color: blue;
	font-weight: bold;
}
fieldset 
{ 
	border:1px solid green
}

legend 
{
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:left;
}
#datatable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#datatable td, #datatable th 
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}
#datatable th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#datatable tr.alt td 
{
	color:#000000;
	background-color:#EAF2D3;
}
input[type="text"],input[type="password"]
{
    padding: 5px;   
    border: 1px solid #DDDDDD;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover,input[type="password"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus,input[type="password"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}
select  
{
	outline: 0;
	overflow: hidden;
	height: 30px;
	background-color: silver;
	color: blue;
	border: 1px solid #000;
	padding: 5px 3px 5px 10px;
}

select option 
{
	border:1px solid #000; 
	background-color: silver;
}
textarea 
{
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
}